/* 元のやつはよくわからず消しちゃいました */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: "Zen Old Mincho", serif;
    color: #333;
}
@media screen and (min-width: 769px) {
    body {
        overflow: hidden;
    }
    
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        overflow-y: auto;
    }
    
}